* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-left: 20px;
  margin-top: 12px;
  list-style: none;
}

.work1 {
  background-image: url("images/Card\ Works.svg");
  background-repeat: no-repeat;
  background-size: 495px 688px;
  position: absolute;
  width: 100%;
  height: 687px;
  background-color: #e5e5e5;
  top: 90px;
}

.work2 {
  background-image: url("images/Card\ Works (1).svg");
  background-repeat: no-repeat;
  background-size: 495px 688px;
  position: absolute;
  width: 100%;
  height: 687px;
  background-color: #e5e5e5;
  top: 882px;
}

.work3 {
  background-image: url("images/Card\ Works (2).svg");
  background-repeat: no-repeat;
  background-size: 495px 688px;
  position: absolute;
  width: 100%;
  height: 687px;
  background-color: #e5e5e5;
  top: 1660px;
}

.work4 {
  background-image: url("images/Card\ Works (3).svg");
  background-repeat: no-repeat;
  background-size: 495px 688px;
  position: absolute;
  width: 100%;
  height: 687px;
  background-color: #e5e5e5;
  top: 2465px;
}

.about {
  background-image: url("images/Base\ about\ my\ self.svg");
  background-repeat: no-repeat;
  background-size: 495px 1468px;
  position: absolute;
  width: 100%;
  height: 1863px;
  background-color: #e5e5e5;
  top: 2465px;
}

.about-myself {
  width: 327px;
  margin-left: 150px;
  margin-top: 116px;
  margin-bottom: 18px;
  font-size: 40px;
  color: #172b4d;
  font-weight: 600;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  position: static;
  width: 327px;
  height: 409px;
  left: 24px;
  top: 114px;
  margin: 13px -88px;
}

h1 {
  position: static;
  width: 327px;
  height: 101px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 57px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: center;
}

.paragraph {
  width: 327px;
  margin-left: 150px;
  margin-top: 116px;
  margin-bottom: 18px;
  font-size: 16px;
  color: #344563;
  font-weight: normal;
}

p {
  position: static;
  width: 281px;
  height: 144px;
  top: 113px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  width: 200px;
  height: 40px;
  top: 40px;
  justify-content: space-around;
  margin-left: 145px;
  margin-top: -16px;
  list-style: none;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  width: 162px;
  height: 48px;
  top: calc(50% - 48px / 2 + 180px);
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 12px 0;
  margin-left: 145px;
  margin-top: 10px;
  list-style: none;
  background-color: #fff;
  color: #396df2;
  font-size: 17px;
}

h2 {
  position: static;
  width: 145px;
  height: 24px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 148px;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  width: 303px;
  height: 66px;
  top: 12px;
  justify-content: space-around;
  margin-left: 150px;
  margin-top: 172px;
  list-style: none;
}

h3 {
  position: absolute;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  display: flex;
  align-items: center;
  margin-left: 52px;
}

h4 {
  position: absolute;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  display: flex;
  align-items: center;
  margin-left: 52px;
}

h5 {
  position: absolute;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  display: flex;
  align-items: center;
  margin-left: 52px;
}

.arrow-img {
  position: absolute;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #acb7c3;
  display: flex;
  align-items: center;
  margin-left: 283px;
}

.union-img {
  position: absolute;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #acb7c3;
  display: flex;
  align-items: center;
  margin-left: 283px;
}

.disabled-img {
  position: absolute;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #acb7c3;
  display: flex;
  align-items: center;
  margin-left: 283px;
}

.contact {
  background-image: url("images/Contact\ me.svg");
  background-repeat: no-repeat;
  background-size: 495px 1468px;
  position: absolute;
  width: 100%;
  height: 1863px;
  top: 3565px;
  background-color: #fff;
}

.form {
  justify-content: center;
  align-items: center;
  width: 518px;
  margin: -81px 126px;
}

h6 {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  justify-content: center;
}

.content {
  position: absolute;
  width: 265px;
  height: 102px;
  left: 24px;
  line-height: 28px;
  top: 366px;
  font-style: normal;
  font-weight: normal;
  color: #ebebff;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  margin: 61px 103px;
}

input[type=text],
select {
  width: 50%;
  padding: 12px 20px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  color: #172b4d;
  font-size: 17px;
}

input[type=email] {
  width: 50%;
  padding: 12px 20px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background-color: #fff;
  align-items: center;
  color: #172b4d;
  font-size: 17px;
}

button[type=submit] {
  width: 30%;
  padding: 12px 20px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background-color: #fff;
  align-items: center;
  color: #6070ff;
  font-size: 17px;
}

textarea {
  width: 50%;
  padding: 12px 20px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background-color: #fff;
  align-items: center;
  color: #172b4d;
  font-size: 17px;
}

.rectangle {
  position: absolute;
  width: 74px;
  height: 17px;
  left: 310px;
  margin: 252px 120px;
}

.ellipse {
  position: absolute;
  width: 90px;
  height: 89px;
  left: 328px;
  margin: 275px 120px;
}

.lipse {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 153px;
  margin: 252px 90px;
}

.ellipse5 {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 276px;
  margin: -3px 47px;
}

.rectangle7 {
  position: absolute;
  width: 76px;
  height: 13px;
  left: 258px;
  margin: -25px 70px;
}

.shape {
  position: absolute;
  width: 134px;
  height: 5px;
  left: calc(50% - 134px / 2);
  bottom: 8px;
  margin: 636px -9px;
}
