* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-left: 20px;
  margin-top: 12px;
  list-style: none;
}

.work1 {
  background-image: url("images/Card\ Works.svg");
  background-repeat: no-repeat;
  background-size: 495px 688px;
  position: absolute;
  width: 100%;
  height: 687px;
  background-color: #e5e5e5;
  top: 90px;
}

.work2 {
  background-image: url("images/Card\ Works (1).svg");
  background-repeat: no-repeat;
  background-size: 495px 688px;
  position: absolute;
  width: 100%;
  height: 687px;
  background-color: #e5e5e5;
  top: 882px;
}

.work3 {
  background-image: url("images/Card\ Works (2).svg");
  background-repeat: no-repeat;
  background-size: 495px 688px;
  position: absolute;
  width: 100%;
  height: 687px;
  background-color: #e5e5e5;
  top: 1660px;
}

.work4 {
  background-image: url("images/Card\ Works (3).svg");
  background-repeat: no-repeat;
  background-size: 495px 688px;
  position: absolute;
  width: 100%;
  height: 687px;
  background-color: #e5e5e5;
  top: 2465px;
}
